<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}">
    <head>
        <title>Announcement Write</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/css/ckeditor5/editorStyle.css}">
            <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/46.0.3/ckeditor5.css" crossorigin>
        </th:block>
    </head>
    <body>
        <section class="mainGrid" layout:fragment="content">
            <div class="write-header">
                <h2 th:text="${boardName == 'announcement' ? '新しいお知らせを作成' : boardName == 'announcementIt' ? '新しいITお知らせを作成' : '新しい日本語のお知らせを作成'}"></h2>
                <button class="writeBtn" type="button" id="submitPostBtn">登録する ✏️</button>
            </div>
            <div class="form-container">
                <form id="postForm" th:object="${postDTO}">
                    <input type="hidden" name="boardId" id="boardId" th:value="*{boardId}">
                    <input type="text" name="title" id="title" placeholder="タイトルを入力してください" th:value="*{title}">
                    <div class="main-container">
                        <div class="editor-container editor-container_classic-editor" id="editor-container">
                            <div class="editor-container__editor"><div id="editor"></div></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <th:block layout:fragment="script">
            <script src="https://cdn.ckeditor.com/ckeditor5/46.0.3/ckeditor5.umd.js" crossorigin></script>
            <script src="https://cdn.ckeditor.com/ckeditor5/46.0.3/translations/ko.umd.js" crossorigin></script>
            <script th:src="@{/js/ckeditor5/ckeditor5.js}"></script>
            <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
            <script th:inline="javascript">
                const postUrl = /*[[@{/admin/announcement/write}]]*/ '/default-post-url';
                const readUrlBase = /*[[@{/admin/announcementRead}]]*/ '/default-read-url';
                const listUrl = /*[[@{/admin/announcement(boardName=${boardName})}]]*/ '/default-list-url';

                $('#submitPostBtn').click(function() {
                    writePost();
                });

                // 게시글 비동기 제출
                function writePost() {

                    // 유효성 검사
                    const formData = validateFormAndGetFormData();
                    // 유효성 검사 통과 못 했을 시 종료
                    if(!formData) return;

                    // 비동기 요청으로 게시글 데이터 전달
                    $.ajax({
                        url: postUrl,
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        // 작성 성공 시 해당 게시글 읽기
                        success: function(postId) {
                            location.href = readUrlBase + '?postId=' + postId;
                        },
                        // 실패 시 게시판 홈으로 이동
                        error: function(e) {
                            alert('お知らせの登録に失敗しました。お知らせ一覧に移動します。' + e.statusText);
                            location.href = listUrl;
                        }
                    });
                }

                 // 게시판 폼에 입력한 데이터를 서버 사이드에 비동기 제출
                function validateFormAndGetFormData() {
                    //유효성 검사
                    // ✨ DTO에 바인딩된 hidden input에서 boardId를 가져옴
                    const boardId = $('#boardId').val();
                    const title = $('#title').val();
                    const content = editor.getData();

                    // 각 부분에 내용이 없을 시 알림 문구
                    if (!boardId) {
                        alert('掲示板IDが見つかりません。');
                        return null;
                    }
                    if (!title.trim()) {
                        alert('タイトルを入力してください');
                        return null;
                    }
                    if (!content.trim()) {
                        alert('内容を入力してください');
                        return null;
                    }

                    // 게시글 관련 데이터들을 form 제출과 같은 형식으로 가공
                    const formData = new FormData();
                    formData.append('boardId', boardId);
                    formData.append('title', title);
                    formData.append('content', content);

                    return formData;
                }
            </script>
        </th:block>
    </body>
</html>