<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}">
    <head>
        <title>회원관리</title>
        <th:block layout:fragment="css">
        </th:block>
    </head>
    <body>
        <section class="mainGrid" aria-label="메인 영역" layout:fragment="content">
            <!-- 이곳에 작성하면 메인 영역에 내용이 추가됩니다. -->
            <img th:src="@{/images/bluePeople.png}" alt="파란색 사람들">
        </section>
        <th:block layout:fragment="script">
        </th:block>
    </body>
</html>