<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SCIT Hub</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/tokens.css}">
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
        <link rel="stylesheet" th:href="@{/css/header.css}">

        <th:block layout:fragment="css"></th:block>
    </head>
    <body>
        <div th:replace="~{fragments/sidebar :: sidebarFragment(${menuItems})}"></div>

        <div th:replace="~{fragments/notifications :: notificationPanelFragment}"></div>

        <div class="content">
            <div th:replace="~{fragments/header :: headerFragment}"></div>

            <main>
                <div layout:fragment="content" style="margin-left: 250px; padding: 1.5rem; max-width: 80%;"></div>
            </main>
        </div>

        <th:block layout:fragment="script"></th:block>
    </body>
</html>