<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/defaultLayout}">

    <head>
        <title>게시판</title>
        <th:block layout:fragment="css">
            <link rel="stylesheet" th:href="@{/css/community/pageFormat.css}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
            <link rel="stylesheet" th:href="@{/css/community/searchBar.css}">
            <link rel="stylesheet" th:href="@{/css/community/postSection.css}">
        </th:block>
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    </head>

    <body>
        <section class="mainField" aria-label="메인 영역" layout:fragment="content">
            <div class="contentGrid">
                <!-- 중앙 콘텐츠 영역 -->
                <div class="mainContent">
                    <!-- 검색 영역 -->
                    <div class="search-bar">
                        <!-- 검색 타입 -->
                        <select name="searchType" id="searchType" class="search-select">
                            <option value="titleAndContent">タイトル＋内容</option>
                            <option value="title">タイトル</option>
                            <option value="content">内容</option>
                            <option value="author">投稿者</option>
                            <option value="tag">タグ</option>
                        </select>
                        <input type="text" id="search-keyword" name="searchWord" placeholder="検索ワードを入力して下さい">
                        <button type="button" id="search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <!-- 게시판 식별자 정보 hidden 영역에 보관 -->
                    <input type="hidden" id="boardId" th:value="${boardId}">
                    <input type="hidden" id="boardName" th:value="${boardName}">

                    <!-- 게시판 카테고리 목록 -->
                    <nav class="category-tabs" aria-label="게시판 카테고리">
                        <th:block th:each="board : ${boardMap}">
                            <a th:href="@{/community/board(name=${board.key})}" 
                            class="tab-item"
                            th:classappend="${boardName == board.key} ? 'active' : ''"
                            th:text="${board.value}">
                            </a>
                        </th:block>
                    </nav>

                    <!-- 게시글 테이블 -->
                    <div class="board-section">
                        <div class="section-header">
                            <!-- 게시판 이름 -->
                            <h2 class="boardName" th:text="${boardName}"></h2>
                            <!-- 게시글 작성 버튼 -->
                            <button type="button" class="writeBtn">
                                投稿する<i class="fa-solid fa-pencil"></i>
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="post-table">
                                <thead>
                                    <tr>
                                        <th class="post-title">タイトル</th>
                                        <th class="post-writer">投稿者</th>
                                        <th class="post-createdAt">投稿日</th>
                                        <th class="post-viewCount"><i class="fa-regular fa-eye"></i></th>
                                        <th class="post-likeCount"><i class="fa-regular fa-heart"></i></th>
                                        <th class="post-commentCount"><i class="fa-regular fa-comment"></i></th>
                                    </tr>
                                </thead>
                                <tbody class="post-list-body" id="post-list-body">
                                    <!-- 비동기 함수로 게시글 목록을 불러옴 -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 페이지네이션 -->
                    <div class="pagination-container" id="pagination-container">
                        <!-- 비동기 함수로 페이지네이션 구현 -->
                    </div>
                </div>

                
            </div>
        </section>
        <th:block layout:fragment="script">
            <script th:src="@{/js/community/getPostListWithPaging.js}"></script>
            <script th:src="@{/js/community/boardInit.js}"></script>
        </th:block>
    </body>

</html>