<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/defaultLayout}">
    <head>
        <title>Home</title>
        <th:block layout:fragment="css">
        </th:block>
        <link rel="stylesheet" th:href="@{/css/community/homeCss.css}">
        <link rel="stylesheet" th:href="@{/css/searchBar.css}">
        <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    </head>
    <body>
        <section class="mainField" aria-label="메인 영역" layout:fragment="content">
            <!-- 이곳에 작성하면 메인 영역에 내용이 추가됩니다. -->
            <div class="searchSection">
                <div class="categorySection">
                    <select name="category" id="categoryDropdown">
                        <option value="all" selected>전체</option>
                        <option value="출강하는 게시판">즐겨찾는 게시판</option>
                        <option value="자유게시판">자유게시판</option>
                        <option value="IT">IT</option>
                        <option value="일본어">일본어</option>
                        <option value="일본 생활&문화">일본 생활&문화</option>
                        <option value="취업&꿀팁">취업&꿀팁</option>
                        <option value="취미&여행&맛집">취미&여행&맛집</option>
                        <option value="자격증">자격증</option>
                        <option value="졸업생">졸업생</option>
                    </select>
                </div>
                    
                <div class="searchBar">
                    <input type="text" placeholder="검색">
                </div>
                    
                <button class="writeBtn">글쓰기 ✏️</button>
                <script>
                    $('.writeBtn').click( function() {
                        location.href = 'writePost';
                    })
                </script>
            </div>
            

            <div class="FavoriteBoardGrid">
                <a th:href="@{readPost?postId=4}">데모 글 읽기 창으로 이동</a>
                <a th:href="@{readPost?postId=5}">내 글 읽기 창으로 이동</a>
            </div>
        </section>
        
        <th:block layout:fragment="script">
        </th:block>
    </body>
</html>